html, body
{
  font-family: Arial, sans-serif;
}

.date-display
{
  color: #111;
  margin: 4em 0 0 0;
  text-align: center;
}

.date-display-feature
{
  font-size: 20em;
  font-weight: bold;
  line-height: 0.9em;
}

.date-display-feature-small
{
  font-size: 5em;
  font-weight: bold;
}

.date-display-details
{
  font-size: 2.5em;
}
